* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #b2cedd;
    text-decoration: none;
}

header {
    text-align: center;
    background-image: url(../assets/atmos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 10px;
    box-shadow: 1px 1px 3px #00000080;
    border-radius: 10px;
}

header img {
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.616);
    box-shadow: 1px 1px 3px #000;
}

header h1 {
    font-weight: bolder;
    font-size: 140px;
    padding-bottom: 5px;
    padding-top: 50px;
    color: rgb(234, 195, 28);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.43);
    line-height: 90px;
}

.subtitle {
    font-size: 60px;
    color: rgb(234, 218, 87);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.43);
}

nav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 1px 1px 3px #000;
    position: fixed;
    right: 10px;
    border-radius: 10px;
    z-index: 1;
}

nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 1;
}

nav a:hover {
    background-color: #eac31c;
    color: #1860ff;
    z-index: 1;
}

/*.active {*/
/*    background-color: #748a60;*/
/*    color: #0A3048;*/
/*    z-index: 1;*/
/*}*/

main {
    margin: 60px;
    padding: 40px 40px 0px 40px;
    background-color: #daedf7;
    box-shadow: 1px 1px 3px #000;
    border-radius: 10px;
}

article {
    text-align: center;
}

.nl {
    padding-bottom: 40px;
}

.nug-link {
    font-size: 45px;
    color: #1860ff;
    text-decoration: none;
}

.nug-link:hover {
    color: #3c68a1;
}



footer {
    text-align: center;
    margin-top: 40px;
}

.credits, .license {
    text-decoration: none;
    font-size: 14px;
    color: #0085a1;
}



